@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modifying the body of the web app */
body {
    font-family: 'General Sans', sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
    overflow-x: hidden;
}

/* Define custom CSS properties using the layer property */
/* Importing the font-families that will be used during the project. */
@layer base {
    /* Define the font-face with the family called circular-web that will point (src) to the URL where it's contained. */
    @font-face {
        font-family: 'circular-web';
        src: url('/fonts/circularweb-book.woff2') format('woff2')
    }
    
    @font-face {
        font-family: 'general';
        src: url('/fonts/general.woff2') format('woff2')
    }

    @font-face {
        font-family: 'robert-medium';
        src: url('/fonts/robert-medium.woff2') format('woff2')
    }

    @font-face {
        font-family: 'robert-regular';
        src: url('/fonts/robert-regular.woff2') format('woff2')
    }

    /* @font-face {
        font-family: 'zentry-regular';
        src: url('/fonts/zentry-regular.woff2') format('woff2')
    } */
}